

@inject UserManager<Usuario> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    <a style="margin-right: 20px" class="btn btn-outline-success" asp-area="" asp-controller="Usuarios" asp-action="Login">
        <i class="fa fa-sign-in"></i> Entrar
    </a>
    <a style="margin-right: 20px" class="btn btn-outline-info" asp-area="" asp-controller="Usuarios" asp-action="Create">
        <i class="fa fa-user-plus"></i> Registrar
    </a>

}
else
{
    <form asp-controller="Usuarios" asp-action="Logout">
        <button type="submit" style="margin-right: 20px" class="btn btn-outline-danger">
            <i class="fa fa-sign-out"></i> Sair
        </button>
    </form>

    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i> Olá, @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Pedidos" asp-action="Index">
                    <span>Pedidos</span>
                </a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav">
        @await Component.InvokeAsync("CarrinhoSummary")
    </ul>

}




