<section>

    <div class="card border-success mb-3">
        <div class="card-header">
            <p class="card-text ">
                <h4 class="card-title text-success">
                    Pedido realizado!
                </h4>
            </p>
        </div>
        <div class="card-body">
            <p class="card-text">
                <h5>
                    Acompanhe seus pedidos na página Meus Pedidos no seu Perfil.
                </h5>
            </p>
            <hr />
            <p><i>Malwaro agradece!</i></p>
        </div>

    </div>
    <a class="btn btn-outline-info  mx-2" style="min-width: 48px" asp-controller="Produtos" asp-action="Catalog">
        <i class="fa fa-arrow-left"></i> Catálogo
    </a>

</section>